In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/Flights_20191201_20191231.csv')
df.head()

,ECTRL ID,ADEP,ADEP Latitude,ADEP Longitude,ADES,ADES Latitude,ADES Longitude,FILED OFF BLOCK TIME,FILED ARRIVAL TIME,ACTUAL OFF BLOCK TIME,ACTUAL ARRIVAL TIME,AC Type,AC Operator,AC Registration,ICAO Flight Type,STATFOR Market Segment,Requested FL,Actual Distance Flown (nm)
0,236565550,KORD,41.98000,-87.90500,EHAM,52.30806,4.76417,01-12-2019 00:00:00,01-12-2019 07:52:13,01-12-2019 00:45:00,01-12-2019 08:47:16,B763,UAL,N658UA,S,Traditional Scheduled,330.0,3690
1,236565551,KJFK,40.64028,-73.77833,EGLL,51.47750,-0.46139,01-12-2019 00:00:00,01-12-2019 07:05:52,01-12-2019 01:56:00,01-12-2019 09:09:50,B764,DAL,N828MH,S,Traditional Scheduled,330.0,3065
2,236565552,KJFK,40.64028,-73.77833,LEMD,40.47222,-3.56083,01-12-2019 00:00:00,01-12-2019 07:06:19,01-12-2019 00:43:00,01-12-2019 07:53:32,B772,AAL,N774AN,S,Traditional Scheduled,350.0,3161
3,236565553,KEWR,40.69667,-74.16833,EBBR,50.90139,4.48444,01-12-2019 00:00:00,01-12-2019 06:53:08,01-12-2019 00:04:00,01-12-2019 06:58:44,B78X,UAL,N12004,S,Traditional Scheduled,310.0,3249
4,236565554,KSLC,40.78667,-111.96833,LFPG,49.00972,2.54778,01-12-2019 00:00:00,01-12-2019 09:42:39,01-12-2019 00:14:00,01-12-2019 10:03:09,B763,DAL,N197DN,S,Traditional Scheduled,350.0,4499

In [4]:
df_airfrance = df[df['AC Operator'] == 'AFR']

# 1. Vols au départ de CDG (LFPG) vers l'Europe (commençant par E ou L)
# On exclut souvent LFPG de la destination pour éviter les vols circulaires si nécessaire
cond_depart_cdg = (df_airfrance['ADEP'] == 'LFPG') & (df_airfrance['ADES'].str.startswith(('E', 'L', 'B')))

# 2. Vols en provenance de l'Europe vers CDG
cond_retour_cdg = (df_airfrance['ADEP'].str.startswith(('E', 'L', 'B'))) & (df_airfrance['ADES'] == 'LFPG')

# 3. Fusion des deux conditions (OU logique)
df_europe_cdg = df_airfrance[cond_depart_cdg | cond_retour_cdg].copy()

In [5]:
df_europe_cdg

,ECTRL ID,ADEP,ADEP Latitude,ADEP Longitude,ADES,ADES Latitude,ADES Longitude,FILED OFF BLOCK TIME,FILED ARRIVAL TIME,ACTUAL OFF BLOCK TIME,ACTUAL ARRIVAL TIME,AC Type,AC Operator,AC Registration,ICAO Flight Type,STATFOR Market Segment,Requested FL,Actual Distance Flown (nm)
419,236565987,LTFM,41.27528,28.75194,LFPG,49.00972,2.54778,01-12-2019 02:05:00,01-12-2019 05:53:48,01-12-2019 01:48:00,01-12-2019 05:34:48,A320,AFR,FHEPB,S,Traditional Scheduled,360.0,1258
877,236566467,LROP,44.57111,26.08500,LFPG,49.00972,2.54778,01-12-2019 04:00:00,01-12-2019 07:08:49,01-12-2019 03:48:00,01-12-2019 07:02:07,A320,AFR,FGKXT,S,Traditional Scheduled,360.0,1095
933,236566523,LGAV,37.93667,23.94444,LFPG,49.00972,2.54778,01-12-2019 04:10:00,01-12-2019 07:47:57,01-12-2019 04:04:00,01-12-2019 07:36:36,A319,AFR,FGRHV,S,Traditional Scheduled,380.0,1224
1232,236566830,LFML,43.43667,5.21500,LFPG,49.00972,2.54778,01-12-2019 05:00:00,01-12-2019 06:23:48,01-12-2019 04:54:00,01-12-2019 06:15:47,A319,AFR,FGRHP,S,Traditional Scheduled,340.0,406
1234,236566832,LHBP,47.43944,19.26194,LFPG,49.00972,2.54778,01-12-2019 05:00:00,01-12-2019 07:17:18,01-12-2019 05:17:00,01-12-2019 07:39:28,A321,AFR,FGTAU,S,Traditional Scheduled,240.0,767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746669,237388704,LFPG,49.00972,2.54778,LFLL,45.72556,5.08111,31-12-2019 20:50:00,31-12-2019 22:07:19,31-12-2019 20:52:00,31-12-2019 21:51:53,A319,AFR,FGRHR,S,Traditional Scheduled,270.0,249
746752,237388789,LFPG,49.00972,2.54778,LFML,43.43667,5.21500,31-12-2019 21:00:00,31-12-2019 22:23:03,31-12-2019 20:50:00,31-12-2019 21:59:41,A320,AFR,FHBNB,S,Traditional Scheduled,330.0,383
746957,237389002,LFPG,49.00972,2.54778,LTFM,41.27528,28.75194,31-12-2019 21:40:00,01-01-2020 00:56:13,31-12-2019 21:38:00,01-01-2020 00:33:00,A320,AFR,FHEPE,S,Traditional Scheduled,390.0,1206
747184,237389236,LFPG,49.00972,2.54778,LLBG,32.00944,34.88556,31-12-2019 22:25:00,01-01-2020 02:59:05,31-12-2019 22:38:00,01-01-2020 03:07:00,A320,AFR,FHEPD,S,Traditional Scheduled,370.0,1791
747378,237389438,LLBG,32.00944,34.88556,LFPG,49.00972,2.54778,31-12-2019 23:00:00,01-01-2020 04:02:35,31-12-2019 22:56:00,01-01-2020 03:59:28,A320,AFR,FGKXN,S,Traditional Scheduled,300.0,1862

In [11]:
def select_company(df, company_code): 
    df_select = df[df['AC Operator'] == company_code]

    print(f"Nombre de vols {company_code}: ", len(df_select))
    return df_select

def select_europe(df): 
    codes_europe = ['L', 'E', 'B']

    # 3. On crée un filtre : Le 1er caractère de ADEP *ET* de ADES doit être dans la liste
    # .str[0] permet de prendre juste la première lettre de la colonne
    filtre_europe = (
        df['ADEP'].str[0].isin(codes_europe) & 
        df['ADES'].str[0].isin(codes_europe)
    )

    # 4. On applique le filtre
    vols_europe = df[filtre_europe]

    print(f"Nombre de vols trouvés : {len(vols_europe)}")
    print(vols_europe[['ADEP', 'ADES']].head())

    return vols_europe

In [12]:
def top_flights(df, n_top=100):
    df_temp = df.copy()

    routes_triees = np.sort(df_temp[['ADEP', 'ADES']].values, axis=1)

    df_temp['Aeroport_1'] = routes_triees[:, 0]
    df_temp['Aeroport_2'] = routes_triees[:, 1]

    classement_liaisons = df_temp.groupby(['Aeroport_1', 'Aeroport_2']).size()

    classement_liaisons = classement_liaisons.sort_values(ascending=False)
    classement_liaisons = classement_liaisons.reset_index(name='Nombre_de_vols')


    print(f"Top {n_top} des liaisons (Sens confondus) :")
    print(classement_liaisons.head(n_top))

    return classement_liaisons.head(n_top)

In [13]:
def selec_top_flights(df, top_flight):
    # 1. Préparation de la liste complète des couples autorisés (A->B ET B->A)
    
    # On prend le sens "Aller" (tel quel dans le top) et on renomme pour matcher df
    sens_aller = top_flight[['Aeroport_1', 'Aeroport_2']].rename(
        columns={'Aeroport_1': 'ADEP', 'Aeroport_2': 'ADES'}
    )
    
    # On prend le sens "Retour" (on inverse les colonnes) et on renomme pour matcher df
    sens_retour = top_flight[['Aeroport_2', 'Aeroport_1']].rename(
        columns={'Aeroport_2': 'ADEP', 'Aeroport_1': 'ADES'}
    )
    
    # On concatène les deux pour avoir une liste exhaustive de toutes les paires valides
    toutes_les_cles = pd.concat([sens_aller, sens_retour])

    # 2. Création du masque
    # On vérifie si le couple (ADEP, ADES) du vol existe dans notre liste exhaustive
    masque_filtre = (
        df.set_index(['ADEP', 'ADES']).index.isin(toutes_les_cles.set_index(['ADEP', 'ADES']).index)
    )

    # 3. On applique ce masque au DataFrame original
    vols_du_top = df[masque_filtre]

    # Vérification
    print(f"Nombre de vols retenus : {len(vols_du_top)} (sur {len(df)})")

    return vols_du_top

In [14]:
vols_af = select_company(df, 'AFR')
print("\n")
vols_af_europe = select_europe(vols_af)
print("\n")
top_lines = top_flights(vols_af_europe, 20)
print("\n")
top_vols_af_europe = selec_top_flights(vols_af_europe, top_lines)

Nombre de vols AFR:  30421


Nombre de vols trouvés : 24244
      ADEP  ADES
419   LTFM  LFPG
877   LROP  LFPG
933   LGAV  LFPG
1232  LFML  LFPG
1234  LHBP  LFPG


Top 20 des liaisons (Sens confondus) :
   Aeroport_1 Aeroport_2  Nombre_de_vols
0        LFBO       LFPO             940
1        LFMN       LFPO             750
2        LFML       LFPO             603
3        LFPG       LSGG             522
4        LFMT       LFPO             490
5        LFBD       LFPO             475
6        LFMN       LFPG             434
7        LFBO       LFPG             419
8        LEBL       LFPG             414
9        LFML       LFPG             381
10       EGLL       LFPG             366
11       LEMD       LFPG             364
12       EHAM       LFPG             360
13       LFBD       LFPG             356
14       LFPG       LIRF             353
15       EDDT       LFPG             346
16       EDDM       LFPG             324
17       LFLL       LFPG             309
18       EDDF       LFPG             297
19       LFPO       LFTH             293


Nombre de vols retenus : 8796 (sur 24244)

In [5]:
import openap

In [ ]:
openap.prop.aircraft("A320")
fuelflow = openap.FuelFlow("A320")
fuelflow.enroute(mass, tas, alt) # -> kg/s

In [6]:
# Exemple de coefficients fictifs (à remplacer par ceux de l'Appendix M)
feat_model_df = pd.read_csv('data/ac_model_coefficients.csv')
ac = feat_model_df['ac_code_icao'][12]
print(ac)

A332

In [26]:

def compute_fuel_feat(flight_row):
    aircraft = flight_row['AC Type']
    dist_nm = flight_row['Actual Distance Flown (nm)']
    dist_km = dist_nm * 1.852

    if aircraft in feat_model_df['ac_code_icao'].values :
        coefficients = feat_model_df[feat_model_df['ac_code_icao'] == aircraft]

        alpha = coefficients['reduced_fuel_a1'].values[0]
        beta = coefficients['reduced_fuel_a2'].values[0]
        gamma = coefficients['reduced_fuel_intercept'].values[0]
        
        # Formule quadratique FEAT
        return alpha * (dist_km**2) + beta * dist_km + gamma
    return None

# Application sur le df des vols Europe-CDG
df_europe_cdg['fuel_burn_kg'] = df_europe_cdg.apply(compute_fuel_feat, axis=1)

In [8]:
df_europe_cdg['fuel_burn_kg']

419        7669.025669
877        6765.574830
933        6830.563146
1232       2974.155849
1234       6769.005164
              ...
746669     2275.267325
746752     3097.091276
746957     7378.233722
747184    10788.718357
747378    11223.414844
Name: fuel_burn_kg, Length: 13596, dtype: float64

In [15]:
dist_nm = df['Actual Distance Flown (nm)']
dist_km = dist_nm * 1.852
dist_km.head()

0    6833.880
1    5676.380
2    5854.172
3    6017.148
4    8332.148
Name: Actual Distance Flown (nm), dtype: float64

In [20]:
plane_travel_time = []
train_travel_time = []
arrival_time = pd.to_datetime(df['ACTUAL ARRIVAL TIME'], format='mixed')
departure_time = pd.to_datetime(df['ACTUAL OFF BLOCK TIME'], format='mixed')
travel_time = arrival_time - departure_time
travel_time.head()

0   0 days 08:02:16
1   0 days 07:13:50
2   0 days 07:10:32
3   0 days 06:54:44
4   0 days 09:49:09
dtype: timedelta64[ns]

In [21]:
minute_time = travel_time.dt.total_seconds() / 60
minute_time.head()

0    482.266667
1    433.833333
2    430.533333
3    414.733333
4    589.150000
dtype: float64

In [22]:
df_feat_coeff_al = pd.read_csv('data/ac_model_coefficients_airliners.csv')
df_feat_coeff_al.head()

,Unnamed: 0,ac_code_icao,e_type,wake,reduced_fuel_a1,reduced_fuel_a2,reduced_fuel_intercept,reduced_fuel_score,reduced_sample_size
0,0,A140,Turboprop,M,0.000157,1.298278,160.624472,0.999946,25
1,1,A148,Jet,M,0.000064,1.757268,971.035823,0.999795,25
2,2,A158,Jet,M,0.000033,2.566019,799.939398,0.999353,24
3,3,A20N,Jet,M,0.000057,2.382220,955.977183,0.999824,25
4,4,A21N,Jet,M,0.000063,2.723659,1121.938176,0.999939,25

In [ ]:
def compute_co2_emissions(flight_row):
    fuel_burn = compute_fuel_feat(flight_row)
    aircraft = flight_row['AC Type']
    if aircraft in df_feat_coeff_al['ac_code_icao'].values :
        row = df_feat_coeff_al[df_feat_coeff_al['ac_code_icao'] == aircraft]
        if row['e_type'].values[0] == 'Jet':
            co2_emission = fuel_burn*3.16
        elif row['e_type'].values[0] == 'Turboprop':
            co2_emission = fuel_burn*3.16
        elif row['e_type'].values[0] == 'Piston':
            co2_emission = fuel_burn*3.10
        return co2_emission
    return None

# compute CO2 emissions (kg) for the top flights
top_vols_af_europe['flight_estimated_co2_emissions'] = top_vols_af_europe.apply(compute_co2_emissions, axis=1)
top_vols_af_europe.head()

/tmp/ipykernel_188938/3055362721.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_vols_af_europe['flight_estimated_co2_emissions'] = top_vols_af_europe.apply(compute_co2_emissions, axis=1)

,ECTRL ID,ADEP,ADEP Latitude,ADEP Longitude,ADES,ADES Latitude,ADES Longitude,FILED OFF BLOCK TIME,FILED ARRIVAL TIME,ACTUAL OFF BLOCK TIME,ACTUAL ARRIVAL TIME,AC Type,AC Operator,AC Registration,ICAO Flight Type,STATFOR Market Segment,Requested FL,Actual Distance Flown (nm),distance_gc,flight_estimated_co2_emissions
1232,236566830,LFML,43.43667,5.21500,LFPG,49.00972,2.54778,01-12-2019 05:00:00,01-12-2019 06:23:48,01-12-2019 04:54:00,01-12-2019 06:15:47,A319,AFR,FGRHP,S,Traditional Scheduled,340.0,406,652.670671,9398.332483
1264,236566862,LFLL,45.72556,5.08111,LFPG,49.00972,2.54778,01-12-2019 05:00:00,01-12-2019 06:08:14,01-12-2019 05:09:00,01-12-2019 06:04:16,A318,AFR,FGUGN,S,Traditional Scheduled,200.0,279,411.958334,7431.121861
1281,236566879,LFBD,44.82861,-0.71528,LFPG,49.00972,2.54778,01-12-2019 05:00:00,01-12-2019 06:08:33,01-12-2019 04:59:00,01-12-2019 06:05:39,A320,AFR,FHBNE,S,Traditional Scheduled,300.0,306,526.723618,8618.764225
1428,236567026,LIRF,41.80028,12.23889,LFPG,49.00972,2.54778,01-12-2019 05:10:00,01-12-2019 07:07:20,01-12-2019 05:11:00,01-12-2019 07:08:26,A321,AFR,FGTAJ,S,Traditional Scheduled,360.0,633,1100.578110,18304.343020
1570,236567172,LEBL,41.29694,2.07833,LFPG,49.00972,2.54778,01-12-2019 05:20:00,01-12-2019 07:05:53,01-12-2019 05:13:27,01-12-2019 06:53:29,A321,AFR,FGTAK,S,Traditional Scheduled,320.0,512,858.406892,15498.801251

In [ ]:
mode = {'plane' : 0, 'rail' : 1}
mode_change = {'yes' : 1, 'no' : 0}
nodes = []
minute_time = travel_time.dt.total_seconds() / 60